<div class="container">
    <div class="faq-sec">
        <h2 class="text-center">FAQ</h2>
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
            <ngb-panel>
                <div class="panel-title">
                    <ng-template ngbPanelTitle>
                        <span><strong>Question:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
                    </ng-template>
                </div>
                <div class="panel-body">
                    <ng-template ngbPanelContent>
                       <p><strong>Answer:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue velit vel nisi vulputate, eu faucibus eros porttitor. Nam nec placerat nunc. Suspendisse scelerisque luctus libero, ut tincidunt mi. Fusce quis tincidunt justo, at bibendum lorem. Fusce ut est id sem pellentesque viverra. Sed aliquam mi pellentesque suscipit dignissim. Morbi bibendum turpis vel suscipit accumsan.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue velit vel nisi vulputate, eu faucibus eros porttitor. Nam nec placerat nunc.</p>
                    </ng-template>
                </div>
            </ngb-panel>
            <ngb-panel>
                <ng-template ngbPanelTitle class="panel-title">
                    <span><strong>Question:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
                </ng-template>
                <ng-template ngbPanelContent class="panel-body">
                   <p><strong>Answer:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue velit vel nisi vulputate, eu faucibus eros porttitor. Nam nec placerat nunc. Suspendisse scelerisque luctus libero, ut tincidunt mi. Fusce quis tincidunt justo, at bibendum lorem. Fusce ut est id sem pellentesque viverra. Sed aliquam mi pellentesque suscipit dignissim. Morbi bibendum turpis vel suscipit accumsan.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue velit vel nisi vulputate, eu faucibus eros porttitor. Nam nec placerat nunc.</p>
                </ng-template>
            </ngb-panel>
            <ngb-panel>
                <ng-template ngbPanelTitle class="panel-title">
                    <span><strong>Question:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
                </ng-template>
                <ng-template ngbPanelContent class="panel-body">
                   <p><strong>Answer:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue velit vel nisi vulputate, eu faucibus eros porttitor. Nam nec placerat nunc. Suspendisse scelerisque luctus libero, ut tincidunt mi. Fusce quis tincidunt justo, at bibendum lorem. Fusce ut est id sem pellentesque viverra. Sed aliquam mi pellentesque suscipit dignissim. Morbi bibendum turpis vel suscipit accumsan.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue velit vel nisi vulputate, eu faucibus eros porttitor. Nam nec placerat nunc.</p>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>