<div class="sub-category_banner">
  <img  alt="logo" [src]="trendServiceArr?.image_url">
</div>
<div class="container">
  <div class="sub_category_view">
    <h2 *ngIf="trendServiceArr.name == 'service'">{{'ang_trendingservices' | translate}}</h2>
    <h2 *ngIf="trendServiceArr.name == 'category'">{{'ang_trendingcategories' | translate}}</h2>
    <div class="sub_category_listing">
      <ul>
        <li *ngFor="let item of trendServiceArr?.sub_category">
          <div *ngIf="item.sub_category_count > 0; then showCategory; else showBusinessDetail"></div>
          <ng-template #showCategory>
            <a href="" routerLink="/category/{{item.category_slug}}" (click)="saveParentCategory(item)">
              <span>
                <img width="25px" height="25px" [src]="item.category_logo">
              </span>{{item.category_name}}
              <i aria-hidden="true" class="fa fa-angle-right"></i>
            </a>
          </ng-template>
          <ng-template #showBusinessDetail>
            <a href="" routerLink="/home/business-list/{{item.category_slug}}/relevance">
              <span>
                <img width="25px" height="25px" [src]="item.category_logo">
              </span>{{item.category_name}}
              <i aria-hidden="true" class="fa fa-angle-right"></i>
            </a>
          </ng-template>
        </li>
        <li *ngIf="trendServiceArr?.sub_category?.length == 0">
          {{nda}}
        </li>
      </ul>
    </div>
    <!-- sub_category_listing End -->
  </div>
  <!-- sub_category_view End -->
</div>
<!-- container End -->
